<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="testing.Listener"/>
<listener class-name="com.mindtree.com.ExtentReporterNG"/>
</listeners>
  <test name="Test">
    <classes>
        <class name="testing.TestSet1"/>
      <class name="testing.TestSet2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
